/* only small desktops */

/* tablets */
 @media (min-width: 992px) and (max-width: 1190px) {
     .countdown{
         height: 285px;
    }
     .top-header .navbar .navbar-collapse ul li a{
         font-size: 14px;
    }
     .lbox-details h2{
         font-size: 26px;
    }
     .contact_bt {
         margin-top: 25px;
    }
     .slide_text {
         margin-top: 70px;
    }
}
/* only small tablets */
 @media (min-width: 768px) and (max-width: 991px) {
     .top-header .navbar .navbar-collapse ul li a{
         padding: 5px 15px;
    }
     .about-img{
         margin-bottom: 30px;
         margin-top: 30px;
    }
     .gallery-box ul li{
         width: 33.33%;
    }
     .top-header{
         position: relative;
    }
     .lbox-details{
         display: block;
         position: relative;
         width: 100%;
    }
     .countdown #timer div#days, .countdown #timer div#hours, .countdown #timer div#minutes, .countdown #timer div#seconds{
         position: inherit;
         margin: 12px 0px;
    }
     .lbox-details::before{
         background: rgba(0,0,0,0.9);
    }
     .countdown{
         height: 188px;
         border-radius: 0px;
    }
     .countdown #timer div{
         width: 23%;
         font-size: 24px;
    }
     figure.effect-service h2{
         font-size: 12px;
    }
     .top-header {
         background-image: none;
         background-color: #fff;
    }
     .search-box {
         top: 1px;
         right: 75px;
    }
     .search-btn {
         background: #111;
    }
     .search-box:hover .search-txt {
         width: 240px;
         padding: 0 10px;
         border: solid #000 1px;
         height: 41px;
    }
     .top-header .navbar .navbar-collapse ul li a:hover, .top-header .navbar .navbar-collapse ul li a:focus {
         color: #0892fd;
    }
     .slide_text p {
         display: none;
    }
     .contact_bt {
         margin-top: 10px;
    }
     .slide_text {
         margin-top: 60px;
    }
     .section.layout_padding h4 {
         text-align: center;
    }
     footer.footer-box p {
         margin-top: 5px;
         font-size: 13px;
    }
}
/* mobile or only mobile */
 @media (max-width: 767px) {
     .navbar-brand{
         margin-left: 10px;
         margin-right: 10px;
    }
     .top-header .navbar .navbar-collapse ul li a{
         padding: 5px 15px;
    }
     .lbox-details h1{
         font-size: 24px;
    }
     .lbox-details h2{
         font-size: 18px;
    }
     .lbox-details p strong{
         font-size: 20px;
    }
     .lbox-details a.btn{
         display: none;
    }
     .title-box h2{
         font-size: 38px;
    }
     .about-main-info h2{
         font-size: 24px;
    }
     .about-img{
         margin-bottom: 30px;
    }
     .main-timeline-box .separline::before{
         left: 15px !important;
    }
     .main-timeline-box .iconBackground{
         left: 15px !important;
    }
     .main-timeline-box .timeline-text-content{
         margin-left: 0px;
    }
     .main-timeline-box .reverse .timeline-text-content{
         margin-right: 0px;
    }
     .main-timeline-box .time-line-date-content{
         margin-right: 0px;
    }
     .main-timeline-box .time-line-date-content p{
         float: left;
    }
     .main-timeline-box .timeline-element{
         padding: 0px 15px;
    }
     .gallery-box ul li {
         width: 48%;
    }
     .top-header{
         position: relative;
    }
     .lbox-details{
         position: relative;
         width: 100%;
         padding: 5% 0%;
    }
     .about-m{
         margin-top: 30px;
    }
     .countdown #timer div#days, .countdown #timer div#hours, .countdown #timer div#minutes, .countdown #timer div#seconds{
         position: inherit;
         margin: 12px 0px;
    }
     .lbox-details::before{
         background: rgba(0,0,0,0.9);
    }
     .countdown{
         height: 188px;
         border-radius: 0px;
    }
     .countdown #timer div{
         width: 23%;
         font-size: 24px;
    }
     .about-m{
         margin-bottom: 30px;
    }
     .timeLine .row .item{
         margin-bottom: 30px;
    }
     .filter-button-group button{
         margin-bottom: 5px;
    }
     .navbar-brand img {
         width: 175px;
    }
     .top-header {
         background-image: none;
         background-color: #ecedef;
    }
     .about-main-info div.full > img {
         height: auto;
         margin-bottom: 20px;
    }
     .search-box {
         position: absolute;
         top: 0;
         right: 50px;
         height: auto;
         padding: 0;
         margin-top: 29px;
         display: none;
    }
     a.navbar-brand {
         left: 0;
         position: relative;
    }
     .slide_text {
         margin-top: 10%;
    }
     .slide_text h3 {
         font-size: 20px;
    }
     .slide_text h4 {
         font-size: 16px;
         margin: -20px 0;
    }
     .slide_text p {
         display: none;
    }
     .contact_bt {
         width: 90px;
         height: 35px;
         background: #07528d;
         color: #fff;
         float: left;
         line-height: 36px;
         text-align: center;
         font-size: 14px;
         font-weight: 300;
         margin-top: 5px;
    }
     .top-header #navbar-wd {
         padding-right: 0;
    }
     .heading_main {
         float: left;
         width: 100%;
    }
     .heading_main p.large {
         display: none;
    }
     h3.small_heading {
         font-size: 20px;
         font-weight: 600;
         line-height: normal;
         margin-top: 25px;
    }
     #demo .img-responsive {
         margin: 10px 0;
         width: 100%;
    }
     .footer_bottom p.crp {
         float: left;
         width: 100%;
         text-align: center;
    }
     .heading_main h2 {
         font-size: 25px;
    }
}
 